<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:200,400,700" rel="stylesheet">
    {% block styles %}
    {% endblock %}

    <script type="text/javascript" src="lib/codemirror.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="mainNav">
            <a class="navbar-brand" href="/">Codepad <small class="version-info ">{{ version }}</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav ml-auto p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/">PHP Editor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/frontend">Frontend Editor</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class={% block containerClass %}"container my-5"{% endblock %}>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="lib/bundle.min.js"></script>
<script type="text/javascript" src="lib/editor.min.js"></script>
<script type="text/javascript" src="lib/app.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>