html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', 'Lato', sans-serif;
    background: #222222;
    .label {
        color: white;
    }
}

#codepad {
    #code {
        background-color: #2e2e2e;
    }
}

.version-info {
    &::before {
        content: '(v.';
    }
    &::after {
        content: ')'
    }
    font-size: 60%;
    color: rgba(255,255,255,0.5);
}

.cm-s-monokai.CodeMirror {
    border: 1px solid #646464;
    border-radius: 10px;
}
